.flex-column {
  display: flex;
  flex-direction: column;
}
.details-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
}
.filter-card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: right;
  border: 1px solid #000;
  height: 240px;
  color: #000;
  margin-bottom: 20px;
  &__img {
    width: 260px;
    height: 180px;
    //min-height: 180px;
  }
  &__footer {
    border-top: 1px solid #000;
    background-color: rgb(231, 228, 237);
    display: flex;
    padding: 12px;
    align-items: center;
  }
}
.row {
  display: flex;
  flex-direction: row-reverse;
}

.place-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgb(221, 223, 227);
  background-color: white;
  .place-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    width: 100%;
  }

  &:hover {
    box-shadow: 0px 4px 24px #eee;
    cursor: pointer;
  }

  &__content {
    flex-grow: 1;
    padding: 0 24px;
  }

  &__img-wrapper {
    min-width: 240px;
    min-height: 150px;
    border-radius: 8px;
  }

  &__img {
    width: 240px;
    height: 150px;
    border-radius: 8px;
  }

  &__age {
    color: rgb(106, 116, 130);
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__title {
    color: rgb(46, 50, 56);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__description {
    color: rgb(46, 50, 56);
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__experiences {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    color: rgb(106, 116, 130);
    font-size: 16px;
    &:hover {
      color: #04aa6c;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .place-card-wrapper {
      flex-direction: column;
    }

    &__content {
      padding: 0;
    }

    &__img-wrapper {
      width: 100%;
      height: auto;
      background-color: unset;
      max-height: 300px;
      border-radius: 8px;
    }

    &__img {
      width: 100%;
      height: auto;
      max-height: 300px;
      border-radius: 8px;
    }
  }
}

.no-place-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}
.no-places {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
  align-items: center;
  color: grey;
  border-radius: 50%;
  padding: 100px 75px;
  border: 1px solid black;
}
