@import 'src/theme/main.scss';

.button {
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  margin: 16px 0;
  cursor: pointer;
  width: 100%;
  background-color: $c-navyblue;
  color: $c-white;
}

.button:disabled {
  background-color: $c-greybd;
}

.orange {
  background-color: $c-orange2;
}

.blue {
  background-color: $c-blue;
}

.green {
  background-color: $c-green2;
}

.red {
  color: $c-golbehi2;
  background-color: $c-white;
  border: 1px solid $c-golbehi2;
  transition: all 0.3s;

  &:hover {
    background-color: $c-golbehi2;
    color: $c-white;
  }
}

.purple {
  background-color: $c-purple;
}
