.add-experience {
  background-color: #fff;
  border-radius: 8px;
  margin: 32px 0;
  padding: 32px;

  &__title {
    font-size: 24px;
  }

  &__choose-img-btn {
    margin: 16px auto;
    display: block;
    max-width: 240px;
  }

  &__img {
    margin: 16px 0;
    width: 100%;
    max-width: 480px;
    max-height: 480px;
    margin: auto;
    display: block;
  }

  &__rating {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__rating-choose {
    direction: ltr;
    margin-top: 16px;
  }
}
