@import 'src/theme/main.scss';
.place-contact {
  border: 1px solid #ddd;
  border-radius: 16px;
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1);
  z-index: 0;
  //   margin: 32px;

  &__navigate {
    margin-top: 16px;
  }

  &__items {
    padding: 0px 16px 16px;
    width: 100%;
  }

  &__item {
    display: flex;
    margin: 14px 0;
    align-items: flex-start;
    color: $c-black3;
    font-size: 14px;

    svg {
      margin-left: 12px;
      flex-shrink: 0;
      color: $c-grass;
      margin-top: -2px;
    }
  }

  &__address,
  &__website {
    word-break: break-all;
    a {
      color: rgb(47, 47, 198);
    }
  }
}
