@import 'src/theme/main.scss';
.experience-detail {
  background-color: $c-white;
  border-radius: 8px;
  margin: 32px 0;
  padding: 32px;

  &__remove-btn {
    width: auto;
    padding: 4px 8px;
  }

  &__like-btn {
  width: auto;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  color: #1778f2;
  background-color: #fff;
  border: 1px solid #1778f2;
  
  svg {
    margin-right: 8px;
  }
  
  &:hover {
    background-color: #1778f2;
    color: #fff;
    border: 1px solid #1778f2;
    
    svg {
      color: #fff;
    }
  }
  
  &--fill {
    background-color: #1778f2;
    color: #fff;
    border: 1px solid #1778f2;
    
    &:hover {
      background-color: #fff;
      color: #1778f2;
      border: 1px solid #1778f2;
      
      svg {
        color: #1778f2;
      }
    }
  }
  
  &--empty {
    color: #1778f2;
    background-color: #fff;
    border: 1px solid #1778f2;
    
    &:hover {
      background-color: #1778f2;
      color: #fff;
      border: 1px solid #1778f2;
      
      svg {
        color: #fff;
      }
    }
  }
}

  

  &__title {
    font-size: 24px;
    margin: 16px 0 24px;
  }

  &__place-rate {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 15px;
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__rating-value {
    margin-right: 4px;
    margin-top: 2px;
    color: $c-grey8;
  }

  &__place {
    color: $c-grey8;
    display: flex;
    align-items: center;
    margin-left: 16px;

    svg {
      margin-left: 4px;
    }
  }

  &__likes-date {
    display: flex;
    font-size: 15px;
  }

  &__likes {
    display: flex;
    align-items: center;
    color: $c-bittersweet;

    svg {
      margin-left: 4px;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    color: $c-grey8;
    margin-left: 32px;

    svg {
      margin-left: 4px;
    }
  }
  &__like-section{
    display: flex;
    gap: 1%;
  }

  &__img {
    margin: 16px auto;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 500px;
    // max-width: 700px;
    border-radius: 8px;
  }

  &__title-2 {
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0 4px;
  }

  &__summary-body {
    line-height: 2;
  }

  &__body-editor {
    border: none;
    background-color: $c-white;
  }

  .rich-text__editor-body {
    padding: 0;
  }

  &__author-info {
    display: flex;
    align-items: center;
    border: 1px solid $c-white5;
    border-radius: 8px;
    overflow: hidden;
    border-left: 16px solid $c-lightgreen;
    color: $c-black2;
    margin: 16px 0 32px;
  }

  &__author-img {
    width: 96px;
    height: 96px;
    margin-left: 32px;
  }
}

@media (max-width: 768px) {
  .experience-detail {
    padding: 16px;

    &__author-img {
      margin-left: 16px;
    }
  }
}
