#modal-modal-title {
  text-align: center;
}

#modal-modal-description {
  text-align: justify;
}

.special-avatar {
  box-shadow: 0 0 0 1px rgba(255, 191, 0, 0.5), 0 0 0 3px rgba(255, 207, 64, 0.3), 0 0 0 5px rgba(255, 220, 115, 0.3);
}

.drop-down__menu {
    display: flex;
    align-items: center;
    padding: 4px;
}
