@import 'src/theme/main.scss';

.tour-dashboard {
  background-color: $c-white;
  border-radius: 8px;
  margin: 32px 0;
  padding: 32px;

  &__tabs {
    display: flex;
    flex-wrap: wrap;
  }

  &__tab {
    padding: 12px 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #f1f1f1;
    }

    &--active {
      border-bottom: 4px solid #333;
    }
  }

  &__tabs-content {
    margin-top: 24px;
  }
}
