@import 'src/theme/main.scss';
.navbar {
    position: sticky;
    top: 0;
    background-color: $c-white;
    z-index: 99;
    box-shadow: 0 2px 8px $c-grey1a;

    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        padding: 16px;
    }

    &__logo {
        font-size: 28px;
        font-weight: 800;
        color: $c-black;

        &--green {
            color: $c-lightgreen;
        }
    }

    &__left {
        display: flex;
    }

    &__write-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $c-white;
        color: $c-black;
        padding: 10px 16px;
        border-radius: 21px;
        border: none;
        font-size: 16px;
        font-weight: 600;
        margin-left: 16px;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $c-black-20;
        }
    }

    &__signin-btn {
        background-color: $c-black;
        color: $c-white;
        padding: 10px 16px;
        border-radius: 21px;
        border: none;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: $c-black-80;
        }
    }
}
