@import '/src/theme/main.scss';

.add-place {
  .starter-section {
    text-align: center;
    margin-right: 30px;
    .title {
      margin-top: 40px;
    }
    .description {
      margin-top: 20px;
      color: rgb(27, 27, 27);
    }
    .question {
      margin-top: 50px;
      margin-bottom: 10px;
      .options {
        margin-top: 10px;
      }
      span {
        margin: 5px;
      }
    }
  }
}
.add-place-form {
  .title {
    font-size: 28px;
    color: #080340;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .field-label {
    padding-bottom: 3px;
  }
  .basic-field {
    .field-input {
      outline: 0;
      padding: 14px;
      border-radius: 4px;
      transition: border-color 0.2s;
      width: 100%;
      border: 2px solid rgb(173, 173, 173);

      &:focus {
        border-color: black;
      }
      &:required,
      &:invalid {
        border-color: red;
      }
    }
  }

  .rating-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.Places {
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 50px;
  text-align: center;
  width: 200px;
  font-size: large;
  color: rgb(106, 44, 21);
  font-weight: 800;
  &:hover {
    transform: scale(1.1);
    transform: rotate(20deg);
  }
}
.PlacesOptions {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.main{
    // text-align: center;
    // justify-content: center;
    // position: absolute;
    // width: 100%;
    // justify-content: center;
    //height: 1060px;

    background-color: #f5f8ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%230b0663' fill-opacity='0.1' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");

  }

  .mainN{
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    justify-content: center;
    min-height: 1000px;

    background-color: #f5f8ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%230b0663' fill-opacity='0.1' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");

  }


  .mainC{
    //text-align: center;
    //justify-content: center;
    //position: absolute;
    //width: 100%;
    //justify-content: center;
    //height: 1060px;

    background-color: #e5e5f7;
    //opacity: 0.2;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #ffa88c, #ffa88c 1px, #e5e5f7 1px, #e5e5f7);
  }

.header {
  display: flex;
  width: 80%;
  height: 500px;
  margin: auto;
  margin-top: 40px;
  @media (max-width: 768px) {
    height: 240px;
  }
}
.HeeadImg {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(16, 0, 43, 0.25) 0px 2px 10px;
}
.submit-btn2 {
    background-color:rgb(113, 227, 237);
    border-radius: 8px;
    color: #080340;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    text-decoration: none;
    margin-top: 50px;
    box-shadow: rgb(8, 3, 64) 0px 2px 5px;
    margin-bottom: 20px;
    cursor: pointer;
    &:disabled {
      background-color:rgb(105, 184, 215);
    }
    @media (max-width: 768px) {
      margin-top: 30px;
    }
}
.submit-btnC {
  background-color: #4c1c00;
  border-radius: 8px;
  color: rgb(255, 211, 198);
  font-size: 16px;
  font-weight: 600;
  padding: 8px 10px;
  text-decoration: none;
  margin-top: 50px;
  box-shadow: rgb(21, 6, 0) 0px 2px 5px;
  margin-bottom: 20px;
  cursor: pointer;
  &:disabled {
    background-color: rgb(66, 23, 14);
  }
  @media (max-width: 768px) {
    margin-top: 30px;
  }
}
.Tab1 {
  margin: auto;
  width: 80%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.loginForm {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.r1 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.map{
    position: sticky;
    width: 30%;
    @media (max-width: 768px) {
      display: none;
    }
}
.form__field1 {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
  }
}

.form__label1 {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
}

.form__field1:focus {
  ~ .form__label1 {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #1b0029;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #000329, #00125b);
  border-image-slice: 1;
}
.form__field1 {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
.form__group1 {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  margin-bottom: 20px;
}

.form__fieldC {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
  }
}

.form__labelC {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: black;
}

.form__fieldC:focus {
  ~ .form__labelC {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #4c1c00;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #291000, #4c1c00);
  border-image-slice: 1;
}
.form__fieldC {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
