@import '/src/theme/main.scss';

.add-place {
  margin: 30px 0;
  border: 3px solid black;
  text-align: right;
  background: white;

  &__no-auth {
    background-color: $c-white;
    border-radius: 8px;
    margin: 32px 0;

    padding: 32px;
  }

  &__section {
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    max-width: 1000px;
  }

  .baseinfo-section {
    .basic-field {
      margin: 15px 0;
    }
    .title {
      margin-top: 20px;
    }
    .description {
      margin-top: 40px;
      color: rgb(27, 27, 27);
    }
    .question {
      margin-top: 50px;
      margin-bottom: 10px;
      .options {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        @media (max-width: 600px) {
          flex-direction: column;
        }
      }
      .active-chip {
        .MuiChip-root {
          box-shadow: 0 0 0 1.2px inset #00aa6c;
          border-color: #00aa6c;
          background-color: white;
        }
      }
      span {
        .MuiChip-root {
          background-color: whitesmoke;
        }

        margin: 5px;
      }
    }
  }
  .map-section {
    .state-city-address {
      padding-left: 20px;
    }
    .location-info {
      display: flex;
      flex-direction: row;
      &__map {
        margin-right: auto;
        margin-left: 10px;
        z-index: 0;
      }
      @media (max-width: 900px) {
        flex-direction: column;
        &__map {
          margin-top: 30px;
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
    .title {
      font-size: 28px;
      color: #080340;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .coordinates__title {
      margin-top: 30px;
    }
  }
  .field-label {
    padding-bottom: 3px;
  }
  .basic-field {
    max-width: 700px;
    .field-input {
      outline: 0;
      padding: 14px;
      border-radius: 4px;
      transition: border-color 0.2s;
      width: 100%;
      border: 2px solid rgb(173, 173, 173);

      &:focus {
        border-color: black;
      }
      &.invalid {
        border-color: $c-golbehi2;
      }
    }
  }
}
.work-time,
.state-city,
.coordinates {
  display: flex;
  gap: 5px;
  &__field {
    @media (min-width: 800px) {
      margin-left: 20px;
    }
    margin: 30px 0;
  }
}
.contact-section {
  .basic-field {
    margin: 15px 0;
    &.worktime {
      margin-top: 40px;
    }
  }
}
.moreinfo-section {
  .tags,
  .hotel-features {
    margin: 30px 0;
  }
  .upload-images {
    .title {
      padding-top: 10px;
    }
    margin-top: 10px;
  }
}
