@import 'src/theme/main.scss';
@import 'src/theme/main.scss';

.rooms-list {
  margin-top: 32px;

  &__body {
    padding: 16px;
    display: flex;
    justify-content: center;
  }

  table {
    border-collapse: collapse;
  }

  thead {
    color: $c-gray-60 !important;
  }

  td {
    border: 1px solid #ddd;
    padding: 16px 12px;
  }

  tr td:first-child {
    background-color: $c-red;
    color: $c-white;
  }

  tbody {
    font-weight: 600;
  }

  tr td:last-child {
    background-color: $c-white2;
  }
}
