@import 'src/theme/main.scss';
.experience-card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: right;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
  color: $c-black;
  margin: 0 8px;

  &__img {
    width: 100%;
    min-height: 180px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
  }

  &__title {
    font-size: 16px;
    font-weight: 800;
    color: $c-black4;
    line-height: 1.5;
    padding: 0 16px;
    margin: 16px 0 8px;
  }

  &__description {
    padding: 8px 16px;
    font-size: 14px;
    height: 100%;
  }

  &__user-name {
    color: $c-black;
    font-size: 14px;
    font-weight: 700;
  }
  &__footer {
    border-top: 1px solid #ccc;
    display: flex;
    padding: 12px;
    align-items: center;
  }

  &__user-img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    height: 360px;
    &__img {
      min-height: 140px;
    }
  }
}

.fav-icon {
  color: $c-black;
}

.filled-fav-icon {
  color: $c-pink1;
}

.home-experiences {
  max-width: 1200px;
  margin: 16px auto 64px;
  padding: 16px;

  &__title {
    color: $c-black;
    font-size: 26px;
    font-weight: 800;
    text-align: right;
    margin: 16px 0 32px;
  }

  .keen-slider {
    padding: 16px 0;

    &__slide {
      overflow: visible !important;
    }
  }
}
