@import 'src/theme/main.scss';
.rich-text {
  margin: 16px 0;

  &__editor {
    direction: ltr;
    border: 1px solid black;
    padding: 2px;
    min-height: 400px;
    margin: 8px 0;
    border-radius: 8px;
    color: $c-black2;
    background-color: $c-white9;
    margin-top: 8px;
    border: 1px solid $c-greydb;
    outline: none;

    &:focus {
      border: 1.5px solid $c-navyblue;
    }

    &::placeholder {
      color: $c-greya;
    }
  }

  &__editor-body {
    padding: 0 16px;
  }
}
