@import 'src/theme/main.scss';

.city-slider {
  background-color: $c-black-20;
  padding: 16px;
  height: 400px;
  &__container {
    max-width: 1200px;
    margin: auto;
  }
  &__title {
    color: $c-black;
    font-size: 26px;
    font-weight: 800;
    text-align: right;
    margin: 16px 0 32px;
  }
  &__slide {
    height: 240px;
    position: relative;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -10;
    }
    &-text {
      width: 100%;
      height: 100%;
      background-color: $c-black-40;
      color: $c-white;
      font-size: 22px;
      font-weight: 500;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 24px 32px;
    }
  }
  .navigation-wrapper {
    position: relative;
    max-width: 1200px;
    margin: auto;
  }

  .arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: $c-gray-80;
    background-color: $c-white;
    padding: 10px;
    cursor: pointer;
  }

  .arrow--left {
    left: 5px;
  }

  .arrow--right {
    left: auto;
    right: 5px;
  }

  .arrow--disabled {
    opacity: 0.5;
  }
  @media (max-width: 768px) {
    height: 340px;
    &__slide {
      height: 200px;
      &-text {
        justify-content: center;
        font-size: 18px;
      }
    }
  }
}
